@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .mycontainer{
        @apply container px-40 py-16 mx-auto;
    }
}

html, body, #root {
  height: 100%;
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom right, #0f172a, #581c87, #0f172a);
  background-attachment: fixed;
}